/* 
* Bootstrap Visualization Dashboard - CSS Style Sheet 
*/


/* Body *
body {
  
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: lightgray ;
}
* Body */

/* Navbar */
.navbar-brand
{
  font-size: 30px;
  background-color: lightseagreen;
  font-family: serif;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.nav-link:hover {
  background-color:#E7E7E7 !important;
 }

.navbar-brand:hover {
color: #f04b4c !important;
}

a {
  color: #E7E7E7;
  font-size: 15px;
  }

 
/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover {
  border-color:#213159;
  border-style: solid;
  
}
.vizualization {
  width:50% !important;
  height:50% !important;
}

 /* Title */
 .title {
  color: lightseagreen;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
 }
/* Box */
.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 30px 10px;
  color: #213159;
  background-color: white;
}