/* 
* Bootstrap Visualization Dashboard - CSS Style Sheet 
*/

/* Body */


/* Navbar */
.navbar-brand
{
  font-size: 30px;
  background-color: lightseagreen;
  font-family: serif;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 3px;
}


/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover {
  border-color:#213159;
  border-style: solid;
  
}
.vizualization {
  width:50% !important;
  height:50% !important;
}